$dark_blue : #0D274F;
$light_blue : #2262AE;
$sky_blue : #D5E6F4;
$chat_gray : #ECF2F9;
$off_white : #F9FAFE;

.agent-chat-container{
  width: 448px;
  height: 90%;
  background: $chat_gray;
  border-radius: 15px 15px 0 0;
  margin-left: 30px;
  border: 0;
}

.agent-header{
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: -15px;
  p{
    text-transform: uppercase;
    font-size: 25px;
  }
}

.dot{
  position: absolute;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  height: 34px;
  width: 34px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 34px;
  text-align: center;
  color: white;
}

p {
  font-weight: 100;
}

.agent-chat{
  height: 600px;
  overflow-y: scroll;
  overflow-x: auto;
  overflow-wrap: break-word;
}


.a-last-msg-agent{
  font-size: 10px;
  color: #8D8D8D;
  padding-top: 3px;
  padding-bottom: 9px;
}

.agent-input{
  textarea{
    width: 412px;
    resize: vertical;
    border: 2px solid #E7EDF3;
    background: $off_white;
    border: 2px solid #E7EDF3;
    border-radius: 15px 15px 0 0;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
    color: #141414;
  }
  textarea::placeholder{
    color: #8d8d8d;
  }
}

.ag-client-msg, .ag-agent-msg{
  display: inline-block;
  max-width: 362px;
  padding: 7px 12px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.ag-client-msg{
  text-align: left;
  margin-left: 10px;
  border-radius: 15px;
  background: #D4D9DF;
}
.ag-agent-msg{
  align: right;
  border-radius: 15px;
  color: white;
}

.ag-agent-msg-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.ag-client-msg-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.bubble-right-up{
  border-radius: 15px 1px 15px 15px;
}

.bubble-right-down{
  border-radius: 15px 15px 1px 15px;
}

.bubble-right{
  border-radius: 15px 1px 1px 15px;
}
.bubble-left-up{
  border-radius: 1px 15px 15px 15px;
}

.bubble-left-down{
  border-radius: 15px 15px 15px 1px;
}

.bubble-left{
  border-radius: 1px 15px 15px 1px;
}

.margin-bot-same{
  margin-bottom: 1px;
}

.margin-bot-diff{
  margin-bottom: 5px;
}

.speech-bubble-container{
  position: relative;
}

.speech-bubble {
	position: absolute;
	background: $sky_blue;
	border-radius: .4em;
  height: auto;
  margin-bottom: 20px;
  opacity: 0.95;
  top:0;
  right: 0;
  margin-top: -140px;
  margin-right: 20px;
  padding: 12px;
}

.suggestion-item{
  display: inline;
  padding: 1px;
}

.suggestion-item span:hover{
  background: $light_blue;
  transition: 0.3s;
  border-radius: 15px;
  cursor: pointer;
  color: $off_white;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top-color: $sky_blue;
	border-bottom: 0;
	border-left: 0;
	margin-left: -9px;
	margin-bottom: -18px;
  opacity: 0.75;
}

.flex {
  display: flex;
  flex-direction: column;
}

.hidden{
  display: none;
}

.focus{
  border: 4px solid rgba(10, 166, 147, 0.7);
  transition: 0.2s;
  transition: width 0.3s ease-out 0.2s;
}

.text-focus{
  border: 2px solid #D4D9DF;
}

.name-focus{
  font-weight: 800;
  transition: 0.2s;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
