$dark_blue : #0D274F;
$light_blue : #2262AE;
$chat_gray : #ECF2F9;
$off_white : #F9FAFE;

.agent-chat-container{
  width: 448px;
  height: 80%;
  background: $chat_gray;
  border-radius: 15px 15px 0 0;
  margin-left: 30px;
}

.agent-header{
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: -15px;
  p{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
  }
}

.agent-chat{
  height: 600px;
  overflow-y: scroll;
  overflow-x: auto;
  overflow-wrap: break-word;
}

.agent-input{
  textarea{
    width: 444px;
    resize: vertical;
    border: none;
    background: $off_white;
  }
}

.ag-client-msg, .ag-agent-msg{
  display: inline-block;
  max-width: 362px;
  padding: 7px 12px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.ag-client-msg{
  text-align: left;
  margin-left: 10px;
  border-radius: 15px;
}
.ag-agent-msg{
  align: right;
  border-radius: 15px;
  color: white;
}

.ag-agent-msg-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.ag-client-msg-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.bubble-right-up{
  border-radius: 15px 1px 15px 15px;
}

.bubble-right-down{
  border-radius: 15px 15px 1px 15px;
}

.bubble-right{
  border-radius: 15px 1px 1px 15px;
}
.bubble-left-up{
  border-radius: 1px 15px 15px 15px;
}

.bubble-left-down{
  border-radius: 15px 15px 15px 1px;
}

.bubble-left{
  border-radius: 1px 15px 15px 1px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
