$sky_blue : #D5E6F4;
$teal_blue : #3D9CC4;

#nav-footer{
  position: fixed;
  right:0;
  top:0;
  bottom:0;
  width: 200px;
  background: white;
  margin-left: 100px;
  h3{
    text-align: center;
  }
}

#nav-footer:hover{
  margin-left: 0;
}
