$dark_blue : #0D274F;
$light_blue : #2262AE;
$chat_gray : #ECF2F9;
$off_white : #F9FAFE;

.client-chat-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  height: 80%;
  background: $chat_gray;
  border-radius: 15px 15px 0 0;
}

.client-header{
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: -15px;
  p{
    font-size: 25px;
    font-weight: 300;
  }
}

.client-chat{
  height: 600px;
  overflow-y: scroll;
  overflow-x: auto;
  overflow-wrap: break-word;
}

.client-input{
  textarea{
    width: 412px;
    resize: vertical;
    border: 2px solid #E7EDF3;
    background: $off_white;
    border: 2px solid #E7EDF3;
    border-radius: 15px 15px 0 0;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
    color: #141414;
  }
  textarea::placeholder{
    color: #8d8d8d;
  }
}

.client-msg, .agent-msg{
  display: inline-block;
  max-width: 362px;
  padding: 7px 12px 8px 12px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}
.agent-msg{
  text-align: left;
  margin-left: 10px;
  border-radius: 15px;
}
.client-msg{
  align: right;
  border-radius: 15px;
  color: white;
}

.client-msg-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.agent-msg-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.bubble-right-up{
  border-radius: 15px 1px 15px 15px;
}

.bubble-right-down{
  border-radius: 15px 15px 1px 15px;
}

.bubble-right{
  border-radius: 15px 1px 1px 15px;
}
.bubble-left-up{
  border-radius: 1px 15px 15px 15px;
}

.bubble-left-down{
  border-radius: 15px 15px 15px 1px;
}

.bubble-left{
  border-radius: 1px 15px 15px 1px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
